# DOMAIN
DOMAIN_NAME=yourlogin.42.fr

# MYSQL / MARIADB
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
# MYSQL_PASSWORD and MYSQL_ROOT_PASSWORD are provided through Docker secrets.

# WORDPRESS
WP_TITLE=Inception
# should not contain "admin" / "administrator"
WP_ADMIN_USER=wpbigboss
WP_ADMIN_EMAIL=bigboss@example.com

WP_USER=wpuser
WP_USER_EMAIL=user@example.com
# WP_ADMIN_PASSWORD and WP_USER_PASSWORD are provided through Docker secrets.

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379
